<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <% unless site[:thumbnail].images.first.nil? %>
      <img src="<%= site[:thumbnail].images.first.src.to_s %>" alt="<%= site[:thumbnail].title %>">
    <% end %>
    <div class="caption">
      <h3><%= site[:thumbnail].title %></h3>
      <p><%= site[:description] %></p>
      <p>Author: <%= site[:author] %> <br>Twitter: <a href="https://twitter.com/<%= site[:twitter] %>" target="_blank">@<%= site[:twitter] %></a></p>
      <p><a href="<%= site[:url] %>" target="_blank" class="btn btn-primary" role="button">Learn More!</a></p>
    </div>
  </div>
</div>
