<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <img src="<%= site.images.first.src.to_s %>" alt="<%= site.title %>">
    <div class="caption">
      <h3><%= site.title %></h3>
      <p><%= site.description %></p>
      <p><a href="<%= site.url %>" target="_blank" class="btn btn-primary" role="button">Learn More!</a></p>
    </div>
  </div>
</div>
